[submodule "rime-ice"]
	path = submodules/rime-ice
	url = https://github.com/iDvel/rime-ice.git
[submodule "catppuccin-tmux"]
	path = submodules/catppuccin-tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "yazi-rs-plugins"]
	path = submodules/yazi-rs-plugins
	url = https://github.com/yazi-rs/plugins.git
[submodule "yazi-rs-flavors"]
	path = submodules/yazi-rs-flavors
	url = https://github.com/yazi-rs/flavors.git
[submodule "persistence.nvim"]
	path = submodules/nvim/persistence.nvim
	url = https://github.com/folke/persistence.nvim
[submodule "blink.cmp"]
	path = submodules/nvim/blink.cmp
	url = https://github.com/saghen/blink.cmp
[submodule "catppuccin"]
	path = submodules/nvim/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "codediff.nvim"]
	path = submodules/nvim/codediff.nvim
	url = https://github.com/esmuellert/codediff.nvim
[submodule "flash.nvim"]
	path = submodules/nvim/flash.nvim
	url = https://github.com/folke/flash.nvim
[submodule "grug-far.nvim"]
	path = submodules/nvim/grug-far.nvim
	url = https://github.com/MagicDuck/grug-far.nvim
[submodule "lazydev.nvim"]
	path = submodules/nvim/lazydev.nvim
	url = https://github.com/folke/lazydev.nvim
[submodule "mini.nvim"]
	path = submodules/nvim/mini.nvim
	url = https://github.com/nvim-mini/mini.nvim
[submodule "neogen"]
	path = submodules/nvim/neogen
	url = https://github.com/danymat/neogen
[submodule "neotest"]
	path = submodules/nvim/neotest
	url = https://github.com/nvim-neotest/neotest
[submodule "neotest-golang"]
	path = submodules/nvim/neotest-golang
	url = https://github.com/fredrikaverpil/neotest-golang
[submodule "noice.nvim"]
	path = submodules/nvim/noice.nvim
	url = https://github.com/folke/noice.nvim
[submodule "nui.nvim"]
	path = submodules/nvim/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "nvim-lint"]
	path = submodules/nvim/nvim-lint
	url = https://github.com/mfussenegger/nvim-lint
[submodule "nvim-lspconfig"]
	path = submodules/nvim/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim-nio"]
	path = submodules/nvim/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "nvim-treesitter"]
	path = submodules/nvim/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim-treesitter-context"]
	path = submodules/nvim/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "nvim-treesitter-textobjects"]
	path = submodules/nvim/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "obsidian.nvim"]
	path = submodules/nvim/obsidian.nvim
	url = https://github.com/obsidian-nvim/obsidian.nvim
[submodule "overseer.nvim"]
	path = submodules/nvim/overseer.nvim
	url = https://github.com/stevearc/overseer.nvim
[submodule "plenary.nvim"]
	path = submodules/nvim/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "render-markdown.nvim"]
	path = submodules/nvim/render-markdown.nvim
	url = https://github.com/MeanderingProgrammer/render-markdown.nvim
[submodule "rime.nvim"]
	path = submodules/nvim/rime.nvim
	url = https://github.com/Urie96/rime.nvim
[submodule "rpc.nvim"]
	path = submodules/nvim/rpc.nvim
	url = https://github.com/Urie96/rpc.nvim
[submodule "rustaceanvim"]
	path = submodules/nvim/rustaceanvim
	url = https://github.com/mrcjkb/rustaceanvim
[submodule "snacks.nvim"]
	path = submodules/nvim/snacks.nvim
	url = https://github.com/folke/snacks.nvim
[submodule "tokyonight.nvim"]
	path = submodules/nvim/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "which-key.nvim"]
	path = submodules/nvim/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "windsurf.nvim"]
	path = submodules/nvim/windsurf.nvim
	url = https://github.com/Exafunction/windsurf.nvim
[submodule "yazi.nvim"]
	path = submodules/nvim/yazi.nvim
	url = https://github.com/mikavilpas/yazi.nvim
