[submodule "rime-ice"]
	path = submodules/rime-ice
	url = https://github.com/iDvel/rime-ice.git
[submodule "catppuccin-tmux"]
	path = submodules/catppuccin-tmux
	url = https://github.com/catppuccin/tmux.git
